apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ingress-nginx
commonLabels:
  app.kubernetes.io/name: ingress-nginx
  app.kubernetes.io/part-of: ingress-nginx

resources:
- deployment.yaml
- rbac.yaml
- cloud-generic.yaml

images:
- name: nginx-ingress-controller
  newName: quay.io/kubernetes-ingress-controller/nginx-ingress-controller
  newTag: 0.30.0

configMapGenerator:
- name: nginx-configuration
- name: tcp-services
- name: udp-services
generatorOptions:
  disableNameSuffixHash: true
